h1 {
    text-align: center;
    font-size: 60px;
    color:#F64C72;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
}
h4 {
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: #F64C72;
}
body {
    height: 100%;
    background-color: #242FA2;
}
table{
    text-align: center;
}
.center{
    text-align:center;
  }

.center > input{
    text-align:left;
  }
.graph{
    display: inline-block;
    text-align: center;
}
.test{
    margin-left: 10%;
}